src/main/mule/odata.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-odata="http://www.mulesoft.org/schema/mule/apikit-odata" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/apikit-odata http://www.mulesoft.org/schema/mule/apikit-odata/current/mule-apikit-odata.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
  <apikit-odata:config name="odata-config" apiDefinition="api/odata.csdl.xml" />
  <http:listener-config name="HTTP_Listener_Config">
    <http:listener-connection host="0.0.0.0" port="8081" />
  </http:listener-config>
  <flow name="main-odata-flow">
    <http:listener config-ref="HTTP_Listener_Config" path="/api/*">
      <http:response statusCode="#[attributes.statusCode default 200]">
        <http:headers>#[attributes.headers default {}]</http:headers>
      </http:response>
      <http:error-response statusCode="#[vars.statusCode default 500]">
        <http:body>#[payload]</http:body>
        <http:headers>#[vars.headers default {}]</http:headers>
      </http:error-response>
    </http:listener>
    <apikit-odata:route config-ref="odata-config">
      <apikit-odata:http-request-parameters listenerPath="#[attributes.listenerPath]" method="#[attributes.method]" scheme="#[upper(attributes.scheme)]" host="#[attributes.headers.'host']" httpHeaders="#[attributes.headers]" queryString="#[(attributes.rawRequestUri scan /(?&lt;=^[^#?]*\?)[^#]*/)[0][0] default '']" maskedRequestPath="#[attributes.maskedRequestPath]" />
    </apikit-odata:route>
    <error-handler name="Error_Handler">
      <on-error-propagate name="On_Error_Propagate" enableNotifications="true" logException="true" type="MULE:ANY">
        <ee:transform>
          <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: {
		code: error.errorMessage.payload.code default "UNKNOWN",
		message: error.errorMessage.payload.message default error.description,
		target: error.errorMessage.payload.target,
		details: error.errorMessage.payload.details default [{code: "UNKNOWN", message: error.detailedDescription, target: null}],
		innererror: error.errorMessage.payload.innerError default error.childErrors
	}
}]]></ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="statusCode"><![CDATA[error.errorMessage.payload.statusCode default 500]]></ee:set-variable>
          </ee:variables>
        </ee:transform>
      </on-error-propagate>
    </error-handler>
  </flow>
  <flow name="GET\Order\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-config" path="/Order" method="GET" />
    <apikit-odata:transform-to-sql-select doc:name="Transform to sql select" doc:id="8719c39d-85ad-4b68-92b1-4074cd30598d" config-ref="odata-config" entitySetName="#[attributes.entitySetName]">
			<apikit-odata:request-parameters entityTypeKeys="#[attributes.odataRequestAttributes.entityTypeKeys]" systemQueryOptions="#[attributes.odataRequestAttributes.systemQueryOptions]" entityTypeName="#[attributes.odataRequestAttributes.entityTypeName]" entityTypeFields="#[attributes.odataRequestAttributes.entityTypeFields]">
			</apikit-odata:request-parameters>
			<apikit-odata:transformation-parameters strictSearchTermMatch="true" />
		</apikit-odata:transform-to-sql-select>
		<db:select doc:name="Get Order Details" doc:id="dfb04621-1a1b-4dcb-9cfc-d985b388a7cc" config-ref="MYSQL_Config">
			<db:sql ><![CDATA[#[payload]]]></db:sql>
			<db:input-parameters ><![CDATA[#[attributes.queryParameters]]]></db:input-parameters>
		</db:select>
		<apikit-odata:serialize-entity config-ref="odata-config" path="/Order" method="GET">
      <apikit-odata:inbound-content><![CDATA[#[%dw 2.0 output application/json --- if (isEmpty(payload)) {} else payload]]]></apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="POST\Order\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-config" path="/Order" method="POST" />
    <logger level="INFO" message="In POST\Order\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-config" path="/Order" method="POST">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="PATCH\Order\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-config" path="/Order" method="PATCH" />
    <logger level="INFO" message="In PATCH\Order\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-config" path="/Order" method="PATCH">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="PUT\Order\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-config" path="/Order" method="PUT" />
    <logger level="INFO" message="In PUT\Order\ENTITY flow" />
    <apikit-odata:serialize-entity config-ref="odata-config" path="/Order" method="PUT">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- payload]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity>
  </flow>
  <flow name="DELETE\Order\ENTITY">
    <apikit-odata:request-entity-listener config-ref="odata-config" path="/Order" method="DELETE" />
    <logger level="INFO" message="In DELETE\Order\ENTITY flow" />
  </flow>
  <flow name="GET\Order\ENTITY_COLLECTION">
    <apikit-odata:request-entity-collection-listener config-ref="odata-config" path="/Order" method="GET" />
    <logger level="INFO" message="In GET\Order\ENTITY_COLLECTION flow" />
    <apikit-odata:serialize-entity-collection config-ref="odata-config" path="/Order" method="GET">
      <apikit-odata:inbound-content>#[%dw 2.0 output application/json --- { "value": payload }]</apikit-odata:inbound-content>
    </apikit-odata:serialize-entity-collection>
  </flow>
</mule>
