src/main/mule/sf-to-mysql-order.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<salesforce:sfdc-config name="Mulesoft_User_Config" doc:name="Salesforce Config" doc:id="cc44019e-fbef-4a27-bbd7-8ea29f7ed146" >
		<salesforce:basic-connection username="${secure::sf.username}" password="${secure::sf.password}" securityToken="${secure::sf.token}"/>
	</salesforce:sfdc-config>
	<db:config name="MYSQL_Config" doc:name="Database Config" doc:id="2816a86d-ecd6-4b10-8b4a-af5aa6a6390e" >
		<db:my-sql-connection host="${secure::mysql.host}" port="${secure::mysql.port}" user="${secure::mysql.username}" password="${secure::mysql.password}" database="mulehome" />
	</db:config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="ab7e2d57-d8c9-4151-929c-7a37d012fb13" file="${env}.secure.properties" key="${secure.key}" >
	</secure-properties:config>
	<flow name="sf-to-mysql-orderFlow" doc:id="adc0d7fa-c42c-4437-8d6e-1009817414db" >
		<salesforce:modified-object-listener doc:name="When Opportunity is Closed Won" doc:id="ecee625a-aced-418c-a564-04c2e415de99" config-ref="Mulesoft_User_Config" objectType="Opportunity" triggersQuery="StageName='Closed Won'">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<set-variable value="#[%dw 2.0&#10;output application/json&#10;---&#10;&#10;{&#10;	Name: payload.Name,&#10;	Amount: payload.Amount,&#10;	AccountId: payload.AccountId&#10;}]" doc:name="Create opportunityInfo" doc:id="ee3b326a-7d68-4a9f-a879-55c8f53d8e64" variableName="opportunityInfo"/>
		<salesforce:query-all doc:name="Get Account Details" doc:id="e3827ebc-dd5d-44e2-93bc-68c376ddec3c" config-ref="Mulesoft_User_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Id, Name FROM Account WHERE ID = ':accId' LIMIT 1]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	accId : vars.opportunityInfo.AccountId
}]]]></salesforce:parameters>
		</salesforce:query-all>
		<ee:transform doc:name="Transform Message" doc:id="8e0a04e5-d3c6-4bc2-a461-503c7aed601b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:insert doc:name="Create Order" doc:id="bfb63509-7462-4dfc-b1c2-31dce449139d" config-ref="MYSQL_Config">
			<db:sql ><![CDATA[insert into mulehome.order (OpportunityName, AccountName, Amount, AccountId) values (:oppName, :accName, :oppAmount, :accountId);]]></db:sql>
			<db:input-parameters ><![CDATA[#[{oppName: vars.opportunityInfo.Name, accName: payload.Name, oppAmount: vars.opportunityInfo.Amount, accountId: payload.Id}]]]></db:input-parameters>
		</db:insert>
	</flow>
</mule>
