src/main/mule/sf-to-mysql-order.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<salesforce:sfdc-config name="Mulesoft_User_Config" doc:name="Salesforce Config" doc:id="cc44019e-fbef-4a27-bbd7-8ea29f7ed146" >
		<salesforce:basic-connection username="mulesoft.integration@curious-bear-362857-dev-ed.my.salesforce.com" password="AnandBhawan@2026" securityToken="BFyEOLLBBldrPuAu8DJQlBxh9" />
	</salesforce:sfdc-config>
	<flow name="sf-to-mysql-orderFlow" doc:id="adc0d7fa-c42c-4437-8d6e-1009817414db" >
		<salesforce:modified-object-listener doc:name="When Opportunity is Closed Won" doc:id="ecee625a-aced-418c-a564-04c2e415de99" config-ref="Mulesoft_User_Config" objectType="Opportunity" triggersQuery="StageName='Closed Won'">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</salesforce:modified-object-listener>
		<salesforce:query-xml-stream doc:name="Get Account Details" doc:id="07430720-a377-4ade-9ca4-280693804701" config-ref="Mulesoft_User_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Name FROM Account WHERE ID = ':accId']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[{accId: payload.AccountId}]]]></salesforce:parameters>
		</salesforce:query-xml-stream>
	</flow>
</mule>
